<div class="planning-card" layout="column">
    <div class="planning-title" layout="row">
        <h2 flex="25">
            Планирование
        </h2>
        <div class="planning-header" flex="" ng-repeat="prop in ::planning.properties">
            {{prop.label}}<label ng-if="prop.dimension">, {{prop.dimension}}</label>
        </div>
    </div>
    <div class="planning-dashboard" flex="" layout="row">
        <div class="mode-description" flex="" ng-if="!planning.rows.length">
            <p>
                Показатели одного вида корма будут суммироватся, каждый вид корма в свою очередь разделяется по составу, где указывается процентное соотношение каждого типа сырья. Для планирования укажите средний расход по каждому виду кормов.
                Завершенные корма не могут участвовать в суммировании.
            </p>
            <p>
                Все расчет указаны на сухое вещество.
            </p>
            <p>
                Корма без анализов не могут участвовать в сумме.
            </p> 
            <h2>
                <ng-md-icon class="arrow-icon" icon="arrow_back">
                </ng-md-icon>
                Выберите незавершенные корма из списка
            </h2>
        </div>
        <ul class="property-list" flex="" ng-if="planning.rows.length">
            <li class="property-row" ng-repeat="row in planning.rows">
                <div layout="row">
                    <label class="property-label" flex="25">
                        {{row.label}}
                    </label>
                    <span class="property-value" flex>
                        {{row.balanceWeight | number}}
                    </span>
                    <span class="property-value input" flex>
                        <input ng-disabled="planning.demoMode" ng-change="planning.onChange()" type="number" ng-model="planning.tonnPerDay[row.key]"/>
                    </span>
                    <span class="property-value" flex>
                        {{row.daysLeft}}
                    </span>
                    <span class="property-value" flex>
                        {{row.willEnd}}
                    </span>
                </div>
                <!-- By Composition -->
                <ul class="sub-property-list" flex="">
                    <li class="property-row" layout="row" ng-repeat="compositionRow in row.byComposition">
                        <label class="property-label" flex="25">
                            {{compositionRow.label}}
                        </label>

                        <span class="property-value" flex>
                            <span class="percent">
                                ({{compositionRow.percentOfTotal}}%)
                            </span>
                            {{compositionRow.sumsByProp | number}}
                        </span>
                        <span class="property-value" flex>
                        </span>
                        <span class="property-value" flex>
                        </span>
                        <span class="property-value" flex>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>