.ration-edit {
	border: 3px solid #FF9800;
    padding: 20px 10px 0;

	.ration-edit-content {

		ul.ration-info {
			padding: 0 20px;
		    margin: 0;
		    font-size: 12px;

		    li {
		    	padding: 4px 0;

		    	label {
		    		min-width: 80px;
				    text-align: right;
				    margin-right: 10px;
				    color: rgba(0,0,0,0.54);
		    	}
		    }
		}

		table {
		    width:100%;
		    border-collapse: collapse;
		    font-size: 12px;

		    th {
				color: rgba(0,0,0,0.54);
			}

		    tr {
			    align-items: stretch;
			    &.total {
			    	font-weight: 700;
			    }
			    td, th {
			    	min-width: 110px;
				    border-bottom: 1px rgba(0,0,0,.12) solid;
				    text-align: right;
				    padding: 12px 12px;
			    	&:first-child {
						width: 20px;
						min-width: 20px;
						text-align: center;

					}
					
					&.feed-name {
						width: 100%;
						text-align: left;
					}	
					&.property-name {
						width: 100%;
						text-align: left;
					}

					p {
						padding: 0;
					    margin: 4px 0 0 0;
					    font-size: 11px;
					    color: rgba(0,0,0,.54);
					}

					>input {
						width: 90px;
					    height: 40px;
					    padding: 4px 6px;
					    text-align: right;
					    font-size: 16px;
					    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
					    border: none;
					    color: #333;
					}

					.delete-feed-item {
						display: inline;
					    color: #F44336;
					    cursor: pointer;
					}

					button {
						margin: 0;
					}
			    }
			}

			tbody {
				tr {
					&:hover {
						background-color: #F0F0F0;
						td {
							&:first-child {
								.delete-feed-item {
									display: inline;
								}								
							}
						}
					}
				}
			}
			
		}

		.composition {
		}
	}

	.ration-edit-actions {
	    min-height: 60px;
	    height: 60px;
	    border-top: 3px solid #FF9800;
	}
}