.sum-card {
  padding: 0 20px;
  height: 100%;
  overflow: hidden; }
  .sum-card .sum-title {
    color: #333;
    font-size: 14px;
    padding-bottom: 12px;
    border-bottom: 3px solid #FF9800;
    margin-bottom: 20px; }
    .sum-card .sum-title h2 {
      padding-top: 12px; }
    .sum-card .sum-title .sum-header {
      padding-top: 12px;
      text-align: right;
      /* padding-right: 30px; */
      color: #666;
      padding-right: 20px; }
  .sum-card .sum-dashboard {
    /*height: calc(100% - 75px);*/
    overflow: auto; }
    .sum-card .sum-dashboard .empty-select-message {
      margin: auto; }
    .sum-card .sum-dashboard ul, .sum-card .sum-dashboard li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 12px; }
    .sum-card .sum-dashboard .sub-property-list .property-label {
      font-size: 11px;
      color: rgba(0, 0, 0, 0.54);
      padding-left: 20px; }
    .sum-card .sum-dashboard .sub-property-list .property-value {
      font-size: 11px;
      color: rgba(0, 0, 0, 0.54); }
      .sum-card .sum-dashboard .sub-property-list .property-value .percent {
        margin-right: 10px; }
    .sum-card .sum-dashboard .property-label {
      font-size: 16px;
      color: #333;
      border-bottom: 1px solid #DDD;
      line-height: 26px; }
    .sum-card .sum-dashboard .property-value {
      color: #333;
      padding: 6px 20px;
      min-width: 60px;
      text-align: right;
      border-left: 1px solid #FF9800;
      border-bottom: 1px solid #DDD;
      font-size: 14px; }
