<div layout="row" class="login-screen" >
  <div flex="30"></div>

  <div class="farm-login" flex>
    <div class="main-login-header main-header"><a alt="prokorm.com" href="/"><b>AGRO</b>DESK</a></div>
    <md-card md-theme="default" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <p>Войдите в свою организацию</p>
          <div class="login-input">
            <p>Организация</p>
            <input type="text" name="tenantname" ng-model="login.user.tenantname"></input>
          </div>
          <div class="login-input">
            <p>Имя пользователя</p>
            <input type="text" name="username" ng-model="login.user.username"></input>
          </div>
          <div class="login-input">
            <p>Пароль</p>
            <input type="password" name="password" ng-model="login.user.password"></input>
          </div>

          <p ng-if="login.info" ng-class="{error: login.info}" class="message">
            {{login.info}}
          </p>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="">
        <div flex>
          <!--<md-button class="md-raised register-button" ng-click="login.goToRegistration()">Зарегестрироваться</md-button>-->
          <a class="forget" href="#/forget">забыли пароль ?</a>
        </div>
        <div>
          <md-button class="md-raised md-primary" ng-click="login.do()">Войти</md-button>
        </div>
      </md-card-actions>
    </md-card>  
  </div>

  <div flex="30"></div>
</div>