.login-screen {
    
    background-image: url(../../img/background.jpg);
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .main-login-header {
        font-size: 24px;
        margin-top: 20px;
        color: #f0f0f0;
        background-color: transparent;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .farm-login {
        opacity: 0.9;
        max-width: 400px !important;
        margin: 0 auto;
        .login-input {

        	input {
        		padding: 10px 4px;
        		border: 1px solid #999;
        		border-radius: 2px;
                width: 100%;
                color: #333;
        	}
        }

        .forget {
            font-size: 14px;
            line-height: 40px;
            color: #3f51b5;
        }

        p {
            font-size: 14px;
            margin-bottom: 6px;
            padding: 0;
            color: #3f51b5;
        }

        .md-button {
        	&.register-button {

            }
        }

        md-card-actions {
        	margin-bottom: 20px;
            margin-left: 16px;
            margin-right: 16px;
        }

        .or {
            color: #3f51b5;
            margin: 20px 0px;
            font-size: 18px;
            text-align: center;

            b {
                font-size: 30px;
            }
        }
        .phone {
            color: #3f51b5;
            font-size: 14px;
            margin: 20px 0 10px 0;
        }
    }
}