<div class="diff-card">
  <div ng-if="diff.diffRows.length" layout="row" class="diff-title">
    <h2 flex="25">Сравнение</h2>
    <div flex class="feed-header" ng-repeat="header in diff.headers">
      {{header.name}} <b>{{header.year}}</b>
      <br/>
      <span class="feed-composition">{{header.composition}},</span>
      <span class="feed-storage">{{header.storage}}</span>
    </div>
  </div>
  <div class="diff-dashboard" layout="row">
    <h2 class="empty-select-message" ng-if="!diff.diffRows.length">
      Выберите корма из списка для сравнения. 
    </h2>
    <ul ng-if="diff.diffRows.length" flex class="property-list">
      <li class="property-row" ng-if="property.key === 'analysis'" ng-repeat="property in diff.diffRows">
        
        <h4 class="root-property">
          {{property.label}}
          <a href="#" ng-click="property.hidden = !property.hidden">
            {{ property.hidden ? 'показать' : 'скрыть' }}
          </a>
        </h4>

        <ul ng-if="property.children && !property.hidden">

          <li class="property-values" ng-repeat="child in property.children" ng-switch="child.key" layout="row">
            
            <span flex="25" class="property-label">{{child.label}} {{child.dimension}}</span>  

            <span flex class="property-value" ng-repeat="value in child.values" layout="row" ng-init="valueIdx = $index">
              <!-- DRY Control -->
              <span flex ng-if="child.key === 'isNaturalWet'" ng-repeat="v in diff.dryRawValues[valueIdx] track by $index">
                <md-checkbox class="md-primary dry-switch" ng-model="diff.dryRawValues[valueIdx][$index]">
                  ({{ diff.dryRawValues[valueIdx][$index] ? 'Да' : 'Нет' }})
                </md-checkbox>
              </span> 

              <span flex ng-if="child.key !== 'isNaturalWet'" 
              ng-class="{max: child.maxDryValue === v.dryValue || child.maxDryValue === v }" ng-repeat="v in value track by $index">
                {{
                  (diff._.isNumber(v.dryValue) || diff._.isNumber(v.rawValue)) ? 
                  (diff.dryRawValues[valueIdx][$index] ? v.rawValue : v.dryValue) :
                  (diff._.isObject(v) ? '' : v)
                }}
              </span>
            </span>  
          </li>
        </ul>
      </li>

      <li class="property-row" ng-if="property.key !== 'analysis'" ng-repeat="property in diff.diffRows">
        <h4 class="root-property">
          {{property.label}}
          <a href="#" ng-click="property.hidden = !property.hidden">
            {{ property.hidden ? 'показать' : 'скрыть' }}
          </a>
        </h4>
        <ul ng-if="property.children && !property.hidden">
          <li class="property-values" ng-repeat="child in property.children" layout="row">
            <span flex="25" class="property-label">{{child.label}}</span>  
            <span flex  class="property-value" ng-repeat="value in child.values track by $index">
              {{value}}
            </span>  
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>