.feed .weight-control {
  border: 2px solid #009688;
  height: 38px;
  border-radius: 3px;
  font-size: 22px;
  margin: auto;
  font-family: 'Titillium Web', sans-serif; }
  .feed .weight-control .balance {
    display: none;
    color: #FF9800;
    padding: 1px 10px; }
  .feed .weight-control .total {
    background-color: #009688;
    color: #fff;
    padding: 0px 10px; }
  .feed .weight-control.opened {
    border-color: #FF9800; }
    .feed .weight-control.opened .balance {
      display: inline; }
    .feed .weight-control.opened .left {
      display: none;
      color: #FF9800; }
    .feed .weight-control.opened .total {
      background-color: #FF9800; }
  .feed .weight-control.done {
    color: #999;
    border-color: #999; }
    .feed .weight-control.done .left {
      display: none; }
    .feed .weight-control.done .balance {
      display: none; }
    .feed .weight-control.done .total {
      color: #f0f0f0;
      background-color: #999;
      padding: 1px 10px; }

.feed .feed-list {
  font-size: 11px;
  height: calc(100% - 60px);
  overflow: auto;
  padding-top: 0; }
  .feed .feed-list .feed-item {
    cursor: pointer;
    background-color: #fff;
    min-height: 68px;
    border-bottom: 1px solid #eee; }
    .feed .feed-list .feed-item .md-button {
      padding: 0 10px; }
    .feed .feed-list .feed-item.selected {
      background-color: #BBDEFB; }
    .feed .feed-list .feed-item.inDiff {
      background-color: #BBDEFB; }
    .feed .feed-list .feed-item button.md-no-style {
      min-height: 68px; }
    .feed .feed-list .feed-item .md-list-item-text {
      line-height: normal; }
    .feed .feed-list .feed-item .analysis-length {
      padding-top: 10px;
      margin-right: 8px;
      color: #999; }
      .feed .feed-list .feed-item .analysis-length.no-analysis {
        color: #EF5350; }
    .feed .feed-list .feed-item .year {
      color: #3F51B5;
      font-weight: bold;
      margin-top: 2px;
      font-size: 12px; }
    .feed .feed-list .feed-item .title {
      color: #333;
      font-size: 18px; }
    .feed .feed-list .feed-item .source {
      font-size: 12px;
      margin-top: 2px; }
    .feed .feed-list .feed-item .composition {
      font-size: 12px;
      color: #333; }
    .feed .feed-list .feed-item .weight.weight-control {
      margin-top: 5px;
      height: 21px;
      float: right;
      font-size: 12px; }
    .feed .feed-list .feed-item.done {
      background-color: #ddd; }
      .feed .feed-list .feed-item.done p, .feed .feed-list .feed-item.done b {
        color: #999; }
      .feed .feed-list .feed-item.done .weight.weight-control {
        border: 2px solid #999; }
        .feed .feed-list .feed-item.done .weight.weight-control .total {
          padding: 1px 10px;
          background-color: #999;
          color: #f0f0f0; }

.feed .navigator {
  height: calc(100% - 14px);
  margin-right: 0; }

.feed .dashboard {
  height: calc(100% - 14px); }
  .feed .dashboard ul, .feed .dashboard li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .feed .dashboard .dashboard-card {
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; }
    .feed .dashboard .dashboard-card h2 {
      border-bottom: 3px solid #FF9800;
      padding-bottom: 4px;
      margin-bottom: 10px; }
    .feed .dashboard .dashboard-card md-radio-group {
      margin-bottom: 10px; }
  .feed .dashboard .dashboard-balance .balance-list {
    padding-bottom: 4px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .feed .dashboard .dashboard-balance .balance-list .balance-percent {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px; }
    .feed .dashboard .dashboard-balance .balance-list .weight-control {
      height: 22px;
      font-size: 12px;
      vertical-align: middle;
      float: right; }
    .feed .dashboard .dashboard-balance .balance-list li h2 {
      font-size: 20px; }
    .feed .dashboard .dashboard-balance .balance-list li .composition {
      padding-left: 20px;
      padding-top: 16px; }
      .feed .dashboard .dashboard-balance .balance-list li .composition .composition-item {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        height: 28px; }
