<div class="charts" layout="column">
    <div class="charts-title">
        <h2 flex="25">
            Аналитика
        </h2>
    </div>
    <div class="charts-dashboard" flex layout="column">
        <div class="mode-description" flex="" ng-if="!charts.feeds || !charts.feeds.length">
            <p>
                Данный модуль самый объемный по содержанию. Он позволяет Вам проводить глубокий анализ кормозаготовки во времени. Так, например, выбрав из списка все травяные сенажи за последние 5 или даже 10 лет, Вы можете посмотреть как менялись показатели питательности кормов по годам. Для того чтобы посмотреть интересующий Вас показатель,- нажмите на него, и программа построит график. Если Вы хотите посмотреть на один показатель в зависимости от другого, просто добавьте его график на экран, нажав на него.
            </p>
            <p>
                Вы можете включать или отключать любые показатели. 
            </p>
            <p>
                Корма без анализов не могут участвовать в аналитике.
            </p>            
            <h2>
                <ng-md-icon class="arrow-icon" icon="arrow_back">
                </ng-md-icon>
                Выберите корма с анализами из списка
            </h2>
        </div>
	    <div id="container" flex layout="row" ng-if="charts.feeds && charts.feeds.length"></div>
    </div>
</div>