<div class="login-screen" layout="row">
  <div flex="4"/>
  <div class="farm-login" flex>
    <div class="main-login-header main-header">ПРОКОРМ</div>
    <md-card md-theme="default" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <div  class="login-input">
            <p>Имя организации кратко (только латинские буквы)</p>
            <input type="text" name="tenantname" ng-model="registration.user.loginname"></input>
          </div>
          <div class="login-input">
            <p>E-Mail</p>
            <input type="text" name="email" ng-model="registration.user.email"></input>
          </div>

          <p ng-class="{error: registration.error}" class="message">
            {{registration.error || registration.successMessage}}
          </p>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions ng-if="!registration.successMessage" layout="row" layout-align="">
        <div flex>
          <!--<md-button class="md-raised register-button" ng-click="login.goToRegistration()">Зарегестрироваться</md-button>-->
        </div>
        <div>
          <md-button class="md-raised md-primary" ng-click="registration.do()">Регистрация</md-button>
        </div>
      </md-card-actions>
    </md-card>  
  </div>

  <div flex="4"/>
</div>