<div class="feed-view" layout="column">
  <div layout="row" class="feed-title" ng-class="{done: feedView.feed.done}">
    <h2 class="feed-name">
      {{feedView.feed.name}}
      <br/>
      <div class="feed-storage">{{feedView.feed.storage}}</div>
    </h2> 
    <h2><b>{{feedView.feed.year}}</b></h2>
    <!--<div class="weight-wrapper" ng-class="{opened: feedView.feed.general.opened.value}"> -->
      <span ng-if="feedView.feed.totalWeight" class="weight-control" ng-class="{opened: feedView.feed.opened, done: feedView.feed.done }">
        <span class="balance">{{feedView.feed.balanceWeight}}</span>
        <span class="total">{{feedView.feed.totalWeight}}</span>
      </span>
    <!--</div>-->
    <div class="actions" flex>
      <!--<md-button class="md-raised" ng-click="feedView.copy()">
        Copy
      </md-button>-->
      <md-button class="md-{{action.buttonType}}" ng-repeat="action in feedView.actions" ng-click="feedView[action.key]()">
        {{action.label}}
      </md-button>
    </div>
  </div>


  <!-- HEADER -->
  <div id="feedViewHeader" class="feed-view-header" layout="row">
    <div flex="{{block.width}}" ng-repeat="block in feedView.feedItemSections">
        <label class="title">
            {{block.label}}
        </label>
    </div>
  </div>  

  <!-- CONTENT -->
  <div flex id="feedViewContent" class="feed-view-content" layout="row">
      <diV ng-switch="block.key" flex="{{block.width}}" id="{{block.key}}" ng-repeat="block in feedView.feedItemSections">

        <!-- ANALYSIS -->
        <ul ng-switch-when="analysis" class="feed-properties" ng-class="block.key">
          <li ng-switch="key" class="property" ng-repeat="(key, data) in block.controls" layout="row">
            <!-- LABEL -->
            <label flex="60" ng-class="{catalogLink: data.catalogLink}" ng-href="data.catalogLink">
                <a ng-if="data.catalogLink" ng-href="{{data.catalogLink}}">{{data.label}}</a>
                <lable ng-if="!data.catalogLink">{{data.label}}</lable>
                <lable ng-if="data.dimension">, {{data.dimension}}</lable> 
            </label>

            
            <!-- DRY Control -->
            <md-checkbox ng-if="key === 'isNaturalWet'" ng-repeat="v in data.values track by $index" class="md-primary dry-switch" ng-model="block.controls.isNaturalWet.values[$index]">
                ({{ block.controls.isNaturalWet.values[$index] ? 'Да' : 'Нет' }})
            </md-checkbox> 

            <div class="value" ng-if="key !== 'isNaturalWet'" ng-repeat="v in data.values track by $index">
            {{ 
                _.isObject(v) ?
                (block.controls.isNaturalWet.values[$index] ? v.rawValue : v.dryValue) :
                v 
            }}
            </div>
                           
          </li>
        </ul>  

        <!-- OTHER -->
        <ul ng-switch-default class="feed-properties" ng-class="block.key" >
          <li class="property" ng-repeat="(key, data) in block.controls" layout="row">
            <!-- LABEL -->
            <label flex>
                {{data.label}}  {{data.dimension}}
            </label>
            <!-- SINGLE VALUE -->
            <div flex class="value" ng-if="!data.values">{{data.value}}</div>
          </li>   
        </ul>
      </diV>
  </div> 
</div>