<div class="feed-edit" layout-padding="" layout="column">

    <!-- HEADER -->
    <div class="feed-edit-header" layout="row">
        <div flex="{{block.width}}" ng-class="block.key" ng-repeat="block in feedEdit.feedItemSections" layout="row">
            <label class="title">
                {{block.label}}
            </label>
            <group-buttons flex ng-if="block.key === 'analysis'" 
                allow-add="true"
                on-add="feedEdit.onAnalysisAdd()" 
                on-select="feedEdit.onAnalysisSelect(item)"
                items="feedEdit.feedItem.analysis">
            </group-buttons>
        </div>
    </div>

    <!-- CONTENT -->
    <div flex class="feed-edit-content" layout="row">
        <diV flex="{{block.width}}" ng-repeat="block in feedEdit.feedItemSections" layout="row">

            <div ng-if="block.key !== 'analysis' || feedEdit.currentAnalysis === subSection.initialItem" flex class="edit-block-sub-section" ng-repeat="subSection in block.subSections">

                <md-input-container ng-repeat="(key, data) in subSection.controls" class="feed-property" ng-class="{booleanProperty : data.isBoolean}">
                
                    <!-- LABEL -->
                    <label ng-if="!data.isBoolean" class="self-explanation-link">
                        {{data.label}}  {{data.dimension}}
                    </label>

                    <!-- BOOLEAN -->  
                    <md-checkbox ng-if="data.isBoolean" class="checkbox md-primary" ng-model="subSection.initialItem[data.key]">
                        {{data.label}}: ({{ subSection.initialItem[data.key] ? 'Да' : 'Нет' }})
                    </md-checkbox>                  

                    <!-- SELECT -->
                    <md-select ng-if="data.isEnum" ng-model="subSection.initialItem[data.key]">
                        <md-option ng-repeat="type in feedEdit.feedTypes" ng-value="type.value">
                          {{type.name}}
                        </md-option>
                    </md-select>

                    <!-- INPUT NUMBER -->
                    <input ng-disabled="data.isDisabled" ng-if="data.isNumber" type="number" ng-model="subSection.initialItem[data.key]"/>

                    <!-- INPUT DATE -->
                    <md-datepicker class="date-picker" ng-if="data.isDate" ng-model="subSection.initialItem[data.key]"></md-datepicker>

                    <!-- INPUT OTHER -->
                    <input ng-disabled="data.isDisabled" ng-model="subSection.initialItem[data.key]"
                    ng-if="!data.isBoolean && !data.isNumber && !data.isEnum && !data.isDate" />

                </md-input-container>    
            </div>
        </diV>
    </div>

    <!-- ACTIONS -->
    <div class="feed-edit-actions" layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
        <md-button class="md-raised" ng-click="feedEdit.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="feedEdit.save()">
            Save
        </md-button>
    </div>
</div>