.catalog-edit {
	
	padding: 0 20px;
	height: 100%;
    overflow: hidden;

	.catalog-title {
		color: #3F51B5;
	    font-size: 20px !important;
	    border-bottom: 3px solid #FF9800;
	    padding: 20px 0 12px 0;

	    .md-raised {
	    	margin:0;
	    }
	}

	.md-resize-wrapper {
		height: 100%;
    	overflow: auto;
	}
}