<div class="feed" layout="row">
    <md-card class="navigator" flex="20" md-theme="default" layout="column" md-theme-watch="">
        <div class="list-header">
            <!-- HEADER -->
            <div layout="row">
                <div class="module-name" flex>
                    Корма
                    <span class="feed-amount" ng-if="feed.feedItems.length">
                        ({{::feed.feedItems.length}})
                    </span>
                </div>
                <md-button class="md-fab md-mini md-primary add-feed-button" ng-click="feed.addFeed()" ng-if="_.some(feed.dashboard.actions, {key: 'addFeed'}) && !(feed.isDiffMode || feed.isAverageMode || feed.isSumMode || feed.isChartMode || feed.isRatingMode || feed.isPlanningMode)">
                    <md-tooltip md-direction="bottom">
                        Добавить новый корм
                    </md-tooltip>
                    <ng-md-icon class="add-icon" icon="plus_one" size="24">
                    </ng-md-icon>
                </md-button>
                <md-button class="md-fab md-mini md-primary" ng-click="feed.goToHome()" ng-if="feed.isDiffMode || feed.isAverageMode || feed.isSumMode || feed.isChartMode || feed.isRatingMode || feed.isPlanningMode">
                    <md-tooltip md-direction="bottom">
                        Назад
                    </md-tooltip>
                    <ng-md-icon class="back-icon" icon="arrow_back" size="24">
                    </ng-md-icon>
                </md-button>
                <md-menu ng-if="!feed.isRatingMode && !feed.isDiffMode && !feed.isAverageMode && !feed.isSumMode && !feed.isChartMode">
                    <md-button aria-label="Menu" class="md-fab md-mini md-primary" ng-click="feed.openMenu($mdOpenMenu, $event)">
                        <ng-md-icon icon="menu">
                        </ng-md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-if="action.key !== 'addFeed'" ng-repeat="action in ::feed.dashboard.actions">
                            <md-button ng-click="feed[action.key]()">
                                {{::action.label}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                
            </div>
            <!-- FILTER TOGGLE-->
            <div layout="row">
                <md-button class="md-primary" md-no-ink="" ng-click="feed.toggleFilter()">
                    {{feed.filter.visible ? 'применить' : 'фильтр'}}
                </md-button>
                <md-button ng-if="feed.filter.visible" md-no-ink="" ng-click="feed.clearFilter()">
                    отменить
                </md-button>
                <md-button 
                    ng-if="!feed.filter.visible && (feed.isDiffMode || feed.isAverageMode || feed.isSumMode || feed.isChartMode || feed.isRatingMode || feed.isPlanningMode)" 
                    class="md-primary" md-no-ink="" ng-click="feed.selectAll()">
                    Выбрать все
                </md-button>
                <!--<a class="filter-button" href="" ng-click="feed.toggleFilter()">
                    {{feed.filter.visible ? 'скрыть' : 'фильтр'}}
                </a>
                <span ng-if="!feed.filter.visible && feed.hiddenItemsLength" class="hide-items-length">(скрыто: {{feed.hiddenItemsLength}})</span>-->
            </div>
        </div>
        <div ng-if="!feed.filter.visible && feed.hiddenItemsLength" class="hide-items-length">
            {{::feed.hiddenItemsLength}} скрыто
            <i class="fa fa-times" aria-hidden="true" ng-show="feed.filterByMode" ng-click="feed.clearFilter()">
                <md-tooltip md-direction="bottom">
                    Сбросить фильтр
                </md-tooltip>
            </i>
        </div>
        <div class="list-filter" ng-if="feed.filter.visible">
            <md-checkbox class="md-primary" aria-label="" ng-model="feed.filter.showEmpty">
                Завершённые
            </md-checkbox>
            <md-checkbox class="md-primary" aria-label="" ng-model="feed.filter.noAnalysis">
                Без анализов
            </md-checkbox>
            <md-input-container class="md-block">
                <label>Год</label>
                <md-select data-md-container-class="" md-on-close="" multiple="" ng-model="feed.filter.years">
                    <md-optgroup label="Год">
                        <md-option ng-repeat="year in ::feed.filterValues.years" ng-value="year">
                            {{::year}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Тип</label>
                <md-select data-md-container-class="" md-on-close="" multiple="" ng-model="feed.filter.feedTypes">
                    <md-optgroup label="Тип">
                        <md-option ng-repeat="feedType in ::feed.filterValues.feedTypes" ng-value="feedType">
                            {{::feedType}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Состав</label>
                <md-select data-md-container-class="" md-on-close="" multiple="" ng-model="feed.filter.compositions">
                    <md-optgroup label="Состав">
                        <md-option ng-repeat="composition in ::feed.filterValues.compositions" ng-value="composition">
                            {{::composition}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Отделение</label>
                <md-select data-md-container-class="" md-on-close="" multiple="" ng-model="feed.filter.branches">
                    <md-optgroup label="Отделение">
                        <md-option ng-repeat="branch in ::feed.filterValues.branches" ng-value="branch">
                            {{::branch}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Хранение</label>
                <md-select data-md-container-class="" md-on-close="" multiple="" ng-model="feed.filter.storages">
                    <md-optgroup label="Хранение">
                        <md-option ng-repeat="storage in ::feed.filterValues.storages" ng-value="storage">
                            {{::storage}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <md-list flex class="feed-list">
            <md-list-item class="md-3-line feed-item" 
                ng-disabled="feed.isDisabled(feedItem)"
                ng-class="{
                    done: feedItem.done,
                    opened: feedItem.opened,
                    selected: (feedItem._id === feed.selectedItemId || feed.diffFeeds.indexOf(feedItem._id) > -1 || feed.averageFeeds.indexOf(feedItem._id) > -1 || feed.sumFeeds.indexOf(feedItem._id) > -1 
                    || feed.chartFeeds.indexOf(feedItem._id) > -1 || feed.ratingFeeds.indexOf(feedItem._id) > -1 
                    || feed.planningFeeds.indexOf(feedItem._id) > -1)
                }" 
                ng-if="feedItem.isVisible"
                ng-click="feed.onFeedClick(feedItem)" 
                ng-repeat="feedItem in feed.feedItems">
                <div class="md-list-item-text">
                    <div layout="row">
                        <b class="year" flex>
                            {{feedItem.year}}
                        </b>
                        <span class="analysis-length" ng-class="{'no-analysis': !feedItem.analysis}">
                            <i aria-hidden="true" class="fa fa-flask">
                            </i>
                            {{feedItem.analysis}}
                        </span>
                        <span ng-if="feedItem.totalWeight" class="weight weight-control" ng-class="{opened: feedItem.opened, done: feedItem.done}">
                            <span ng-if="_.isNumber(feedItem.balanceWeight)" class="balance">
                                {{feedItem.balanceWeight}}
                            </span>
                            <span class="total">
                                {{feedItem.totalWeight}}
                            </span>
                        </span>
                    </div>
                    <div layout="row">
                        <p class="title" flex="">
                            {{feedItem.name}}
                        </p>
                    </div>
                    <div layout="row">
                        <p class="composition" flex="">
                            {{feedItem.feedType ? feedItem.feedType + ': ' + feedItem.composition : feedItem.composition}}
                        </p>
                    </div>
                    <div layout="row">
                        <p class="source" ng-if="feedItem.branch" flex>
                            {{feedItem.branch}}
                        </p>
                        <p class="source">
                            {{feedItem.storage}}
                        </p>
                    </div>
                </div>
            </md-list-item>
            <md-divider>
            </md-divider>
        </md-list>
    </md-card>
    <md-card class="dashboard" flex="80" md-theme="default" md-theme-watch="" ui-view="">
        <md-content layout-padding="">
            <md-button class="md-primary" md-no-ink="" ng-click="feed[action.key]()" ng-repeat="action in ::feed.dashboard.actions">
                {{action.label}}
            </md-button>

            <div layout="row">
            <md-card class="dashboard-card dashboard-scheduler" flex="55" layout-padding="" ng-if="feed.dashboard.noAnalysis.length">
                <h2>
                    Открытые корма ({{feed.dashboard.years}})
                </h2>
                <p>Корма с Автовычитанием</p>
                <ul class="auto-decrement-feeds">
                    <li ng-repeat="feed in ::feed.dashboard.progress.autoDecrementFeeds">
                        <div class="feed-name" layout="row">
                            <a flex="30" ng-href="{{feed.url}}">{{feed.name}}</a>

                            <div flex ng-class="{'min': feed.percentLeft < 10}" class="feeding-progress">
                                <div style="width: {{feed.percentLeft}}%" class="left-percent">{{feed.percentLeft}}%</div>
                            </div>

                            <span class="weight-control opened">
                                <span class="balance">
                                    {{feed.balanceWeight}}
                                </span>
                                <span class="total">
                                    {{feed.totalWeight}}
                                </span>
                            </span>
                        </div>
                        
                        <div class="feed-schedule">
                            <span flex>
                                <label>Дней осталось: </label>{{feed.daysLeft}}<br/>
                                <label>Тонн в день: </label>{{feed.tonnPerDay}}<br/>
                                <label>Дата завершения: </label>{{feed.willEnd}}<br/>
                            </span>
                        </div>
                        
                    </li> 
                </ul>

                <p>Корма без Автовычитания</p>
                <a ng-href="{{feed.url}}" ng-repeat="feed in ::feed.dashboard.progress.nonAutoDecrementFeeds">
                    {{feed.name}}
                </a>
            </md-card>

            <md-card class="dashboard-card dashboard-balance" flex="45" layout-padding="16" ng-if="feed.dashboard.balance.byFeedType.length">
                <h2>
                    Доступные корма ({{feed.dashboard.years}})
                </h2>
                <md-radio-group class="md-primary" layout="row" ng-model="feed.dashboard.balance.current">
                    <md-radio-button value="byFeedType">
                        По типу
                    </md-radio-button>
                    <md-radio-button value="byComposition">
                        По составу
                    </md-radio-button>
                </md-radio-group>
                <ul class="balance-list" ng-repeat="balance in ::feed.dashboard.balance.byFeedType" ng-if="feed.dashboard.balance.current === 'byFeedType'">
                    <li>
                        <div>
                            <label>
                                {{balance.label}}
                            </label>
                            <label class="balance-percent">
                                ({{balance.balancePercent}} %)
                            </label>
                            <span class="weight-control" ng-class="{opened: balance.balance !== balance.total, done: !balance.balance}">
                                <span class="balance">
                                    {{balance.balance}}
                                </span>
                                <span class="total">
                                    {{balance.total}}
                                </span>
                            </span>
                        </div>
                        <ul class="composition">
                            <li class="composition-item" ng-repeat="composition in ::balance.byComposition">
                                {{composition.label}}
                                <span class="weight-control" ng-class="{opened: composition.balance !== composition.total, done: !composition.balance}">
                                    <span class="balance">
                                        {{composition.balance}}
                                    </span>
                                    <span class="total">
                                        {{composition.total}}
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="balance-list" ng-repeat="balance in ::feed.dashboard.balance.byComposition" ng-if="feed.dashboard.balance.current === 'byComposition'">
                    <li>
                        <div>
                            <label>
                                {{balance.label}}
                            </label>
                            <label class="balance-percent">
                                ({{balance.balancePercent}} %)
                            </label>
                            <span class="weight-control" ng-class="{opened: balance.balance !== balance.total, done: !balance.balance}">
                                <span class="balance">
                                    {{balance.balance}}
                                </span>
                                <span class="total">
                                    {{balance.total}}
                                </span>
                            </span>
                        </div>
                        <ul class="composition">
                            <li class="composition-item" ng-repeat="composition in ::balance.byFeedType">
                                {{composition.label}}
                                <span class="weight-control" ng-class="{opened: composition.balance !== composition.total, done: !composition.balance}">
                                    <span class="balance">
                                        {{composition.balance}}
                                    </span>
                                    <span class="total">
                                        {{composition.total}}
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </md-card>
            </div>

            <div layout="row">
                <md-card class="dashboard-card dashboard-no-analysis" flex="30" layout-padding="" ng-if="feed.dashboard.noAnalysis.length">
                    <h2>
                        Корма без анализов ({{feed.dashboard.years}})
                    </h2>
                    <a ng-href="{{noAnalysis.url}}" ng-repeat="noAnalysis in ::feed.dashboard.noAnalysis">
                        {{noAnalysis.label}}
                    </a>
                </md-card>
            </div>
        </md-content>
    </md-card>
</div>
