<div class="ration" layout="row">
    <md-card class="navigator" flex="20" md-theme="default" layout="column" md-theme-watch="">
        <div class="list-header">
            <!-- HEADER -->
            <div layout="row">
                <div class="module-name" flex>
                    Рационы
                    <span class="ration-amount" ng-if="ration.rationItems.length">
                        ({{::ration.rationItems.length}})
                    </span>
                </div>
            </div>
        </div>
        <md-list flex class="ration-list">
            <md-list-item class="md-3-line ration-item" 
                ng-repeat="rationItem in ration.rationItems">
                <div class="md-list-item-text" layout="column">
                    <div layout="row">
                        <p class="title" flex="">
                            <span class="ration-type">{{rationItem.type}}</span>{{rationItem.name}}
                        </p>
                    </div>
                    <div layout="row" class="second-line">
                        <span flex class="ration-date">
                            {{rationItem.start}}
                        </span>
                        <span class="ration-yield">
                            {{rationItem.targetCow.milkYield}}
                        </span>
                    </div>
                    <div layout="row">
                        <span flex class="ration-weight">
                            <b>СВ: 21.2 кг</b>
                        </span>
                        <span class="ration-price">
                            154.80
                        </span>
                    </div>
                </div>
            </md-list-item>
            <md-divider>
            </md-divider>
        </md-list>
    </md-card>
    <md-card class="dashboard" flex="80" md-theme="default" md-theme-watch="" ui-view="">
        <md-content layout-padding="">
            
        </md-content>
    </md-card>
</div>
