.main-header {
	
    color: #6a6c6f;
    font-size: 22px;
    padding: 2px 20px 2px 20px;
    background-color: #3F51B5;
    color: #fff;
	.user-company {
		
	}
	.user-name {
		button {
			margin-left: 0px;
    		margin-right: 0px;
		}
	}

	.prokorm-title {
		line-height: 46px;
    	font-size: 28px;
	}

	.md-button {
		&.md-raised {
			color: #3F51B5;
		}
	}
}

.main-content {
	height: calc(100% - 52px);
    overflow-y: hidden;

    .feed {
    	height: 100%;
		overflow-y: hidden;    	
    }
}

.list-header {
	border-bottom: 1px solid #ddd;
    padding: 10px 0;
    height: 110px;
    min-height: 90;
	.module-name {
		font-size: 22px;
	    color: rgb(63,81,181);
	    text-transform: uppercase;
	    padding: 12px;
	}

	.md-fab {
		&.add-feed-button {
			margin-left: 0;
			margin-right: 0;
		}		
	}

	.filter-button {
		font-size: 14px;
	    text-transform: none;
	    color: #3F51B5;
	    margin-left: 12px;
	}
	.hide-items-length {
		font-size: 12px;
	    text-transform: none;
	    color: #999;
	    margin-left: 12px;
	    padding-top: 2px;
	}
}

.list-filter {
	padding: 12px;
    border-bottom: 1px solid #ddd;

	md-checkbox {
		span {
			font-size: 12px;
		}
	}

	md-input-container {
		margin-bottom: 0;
		span {
			font-size: 12px;
		}
	}
}