<section class="main-header" layout="row">
    <div class="prokorm-title" flex="20">
        ПРОКОРМ
    </div>

    <div flex class="modules">
        <md-button ng-class="{ 'md-raised': module.key === home.currentModule }" ng-repeat="module in home.sessionData.user.modules" ng-click="home.goToModule(module.key)">
          {{module.name}}
        </md-button>    
    </div>
    <!--<div flex="80" class="user-company">
        {{home.sessionData.user.name}}
    </div>-->
    <div class="user-name">
        <ng-md-icon icon="account_circle">
        </ng-md-icon>
        {{home.sessionData.user.tenantFullName}}
        <md-menu>
            <md-button aria-label="Menu" class="md-icon-button" ng-click="home.openMenu($mdOpenMenu, $event)">
                <ng-md-icon icon="menu">
        		</ng-md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="home.settings($event)">
                        <ng-md-icon style="fill: #999" icon="account_circle">
                        </ng-md-icon>
                        Профиль
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="home.settings($event)">
                        <ng-md-icon style="fill: #999" icon="settings_applications">
                        </ng-md-icon>
                        Настройки
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="home.logout()">
                        <ng-md-icon style="fill: #999" icon="logout">
                        </ng-md-icon>
                        Выйти
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</section>
<section class="main-content" ui-view="">
</section>