<div class="average-card" layout="column">
    <div class="average-title" layout="row">
        <h2 flex="25">
            <label ng-if="!average.analysisRows.length">
                Среднее
            </label>
        </h2>
        <div class="feed-header" flex="" ng-repeat="header in ::average.headers">
            {{header.name}}
            <b>
                {{header.year}}
            </b>
            <br/>
            <span class="feed-composition">
                {{header.composition}},
            </span>
            <span class="feed-storage">
                {{header.storage}}
            </span>
        </div>
    </div>
    <div class="average-dashboard" flex="" layout="row">
        <div class="mode-description" flex="" ng-if="!average.analysisRows.length">
            <p>
                Данный модуль позволяет быстро рассчитать средние показатели анализов кормов. Это необходимо для того чтобы понять, какой же в среднем в этом году получился, например, Ваш люцерновый сенаж или кукурузный силос. Сколько в Вашем среднем люцерновом сенаже протеина или сколько обменной энергии в Вашем среднем кукурузном силосе.
            </p>
            <p>
                Для расчета среднего значения выберите несколько кормов из списка, все остальное программа сделает за Вас.
            </p>
            <p>
                Корма без анализов не могут участвовать в расчете средних показателей.
            </p>
            <h2>
                <ng-md-icon class="arrow-icon" icon="arrow_back">
                </ng-md-icon>
                Выберите корма с анализами из списка
            </h2>
        </div>
        <ul class="property-list" flex="" ng-if="average.analysisRows.length">
            <li class="property-row" ng-if="property.key === 'analysis'" ng-repeat="property in ::average.analysisRows">
                <h4 class="root-property">
                    {{property.label}}
                </h4>
                <ul ng-if="property.children && !property.hidden">
                    <li class="property-values" layout="row" ng-repeat="child in ::property.children" ng-switch="child.key">
                        <span class="property-label" flex="25">
                            {{child.label}} {{child.dimension}}
                        </span>
                        <span class="property-value" flex="" layout="row" ng-init="valueIdx = $index" ng-repeat="value in ::child.values">
                            <!-- DRY Control -->
                            <span flex="" ng-if="child.key === 'isNaturalWet'" ng-repeat="v in ::average.dryRawValues[valueIdx] track by $index">
                                <md-checkbox class="md-primary dry-switch" ng-model="average.dryRawValues[valueIdx][$index]">
                                    ({{ average.dryRawValues[valueIdx][$index] ? 'Да' : 'Нет' }})
                                </md-checkbox>
                            </span>
                            <span flex="" ng-class="{'is-number': average._.isNumber(v) || average._.isNumber(v.dryValue) || average._.isNumber(v.rawValue)}" ng-if="child.key !== 'isNaturalWet'" ng-repeat="v in ::value track by $index">
                                {{
                  (average._.isNumber(v.dryValue) || average._.isNumber(v.rawValue)) ? 
                  (average.dryRawValues[valueIdx][$index] ? v.rawValue : v.dryValue) :
                  (average._.isObject(v) ? '' : v)
                }}
                            </span>
                        </span>
                    </li>
                </ul>
            </li>
            <li class="property-row" ng-if="property.key !== 'analysis'" ng-repeat="property in ::average.analysisRows">
                <h4 class="root-property">
                    {{property.label}}
                    <a href="" ng-click="property.hidden = !property.hidden">
                        {{ property.hidden ? 'показать' : 'скрыть' }}
                    </a>
                </h4>
                <ul ng-if="property.children && !property.hidden">
                    <li class="property-values" layout="row" ng-repeat="child in ::property.children">
                        <span class="property-label" flex="25">
                            {{child.label}}
                        </span>
                        <span class="property-value" flex="" ng-repeat="value in ::child.values track by $index">
                            {{value}}
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>