.group-buttons .button {
  border-radius: 0;
  border: 1px solid #999;
  border-right: none;
  margin: 0;
  padding: 0;
  width: 32px !important;
  height: 32px !important;
  max-width: 32px !important;
  min-width: 32px !important;
  float: left; }
  .group-buttons .button.selected {
    background-color: #3f51b5;
    color: #FFF;
    border-color: #3f51b5; }
  .group-buttons .button:first-child {
    border-radius: 3px 0 0 3px; }
  .group-buttons .button:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #999; }
  .group-buttons .button .md-button {
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    height: 32px;
    line-height: 32px;
    vertical-align: top; }
