<md-dialog class="change-passowrd">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Смена пароля</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
            	<div class="change-password">
            		 <p>
				    	Пароль должен содержать не менее <b>8</b> символов и включать в себя <b>буквы и числа</b>.
				    </p>
				    <p>
				    	Использование специальных символов в пароле недопустимо.
				    </p>
				    <md-input-container class="md-block">
				        <label>
				            Текущий пароль
				        </label>
				        <input type="password" ng-model="currentPassword">
				        </input>
				    </md-input-container>
				    <md-input-container class="md-block">
				        <label>
				            Новый пароль
				        </label>
				        <input type="password" ng-model="newPassword">
				        </input>
				    </md-input-container>
				    <md-input-container class="md-block">
				        <label>
				            Новый пароль еще раз
				        </label>
				        <input type="password" ng-model="newPassword2">
				        </input>
				    </md-input-container>
				</div>
				<p ng-if="error" class="dialog-error">{{error}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
	      <md-button class="md-raised" ng-click="cancel()">
	        Отмена
	      </md-button>
	      <md-button class="md-raised md-primary" ng-click="save()">
	       Сохранить
	      </md-button>
	    </md-dialog-actions>
    </form>
</md-dialog>
