.average-card {
  padding: 0 20px;
  height: 100%;
  overflow: hidden; }
  .average-card .feed-header {
    padding-top: 12px;
    text-align: right;
    padding-right: 30px; }
    .average-card .feed-header .feed-composition {
      font-size: 12px; }
    .average-card .feed-header .feed-storage {
      font-size: 12px; }
  .average-card .average-title {
    color: #3F51B5;
    font-size: 20px;
    padding-bottom: 12px;
    border-bottom: 3px solid #FF9800; }
    .average-card .average-title h2 {
      margin-top: 12px;
      font-size: 18px; }
  .average-card .average-dashboard {
    /*height: calc(100% - 75px);*/
    overflow: auto; }
    .average-card .average-dashboard .empty-select-message {
      margin: auto; }
    .average-card .average-dashboard ul, .average-card .average-dashboard li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 12px; }
    .average-card .average-dashboard .root-property {
      font-size: 14px;
      margin: 20px 0 10px 0;
      padding: 0;
      font-weight: normal;
      text-transform: uppercase; }
      .average-card .average-dashboard .root-property a {
        color: #3F51B5;
        font-size: 12px;
        margin-left: 10px;
        text-transform: initial; }
    .average-card .average-dashboard .property-label {
      color: #6a6c6f;
      border-bottom: 1px solid #ddd;
      padding: 6px 2px; }
    .average-card .average-dashboard .property-values:hover .property-value {
      border-bottom: 1px solid #FF9800; }
    .average-card .average-dashboard .property-values:hover .property-label {
      border-bottom: 1px solid #FF9800; }
    .average-card .average-dashboard .property-values .property-value {
      color: #333;
      padding: 6px 20px;
      min-width: 60px;
      text-align: right;
      border-left: 1px solid #FF9800;
      border-bottom: 1px solid #DDD;
      /*&.odd {
			    	background-color: #f0f0f0;
			    }*/ }
      .average-card .average-dashboard .property-values .property-value .dry-switch {
        padding: 0;
        margin: 0; }
      .average-card .average-dashboard .property-values .property-value:last-child .is-number {
        font-weight: 600; }
