<div class="feed-edit" layout="column" layout-padding="">
    <!-- HEADER -->
    <div class="feed-edit-header" layout="row">
        <div flex="{{block.width}}" layout="row" ng-class="block.key" ng-repeat="block in feedEdit.feedItemSections">
            <label class="title">
                {{block.label}}
            </label>
            <group-buttons flex ng-if="block.key === 'analysis'" 
                allow-add="true"
                on-add="feedEdit.onAnalysisAdd()" 
                on-delete="feedEdit.deleteCurrentAnalysis()"
                on-select="feedEdit.onAnalysisSelect(item)"
                items="feedEdit.feedItem.analysis">
            </group-buttons>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="feed-edit-content" flex="" layout="row">
        <div flex="{{block.width}}" layout="row" ng-repeat="block in feedEdit.feedItemSections">
            <div class="edit-block-sub-section" flex="" ng-if="block.key !== 'analysis' || feedEdit.currentAnalysis === subSection.initialItem" ng-repeat="subSection in block.subSections">
                <md-input-container class="feed-property" ng-class="{booleanProperty : data.isBoolean, required: data.isRequired}" ng-repeat="(key, data) in subSection.controls">
                    <!-- LABEL -->
                    <label class="self-explanation-link" ng-if="!data.isBoolean">
                        {{data.label}}  {{data.dimension}}
                    </label>
                    <!-- BOOLEAN -->
                    <md-checkbox class="checkbox md-primary" ng-if="data.isBoolean" ng-model="subSection.initialItem[data.key]">
                        {{data.label}}: ({{ subSection.initialItem[data.key] ? 'Да' : 'Нет' }})
                    </md-checkbox>
                    <!-- SELECT -->
                    <md-select ng-if="data.isEnum && data.key === 'feedType'" ng-model="subSection.initialItem[data.key]">
                        <md-option ng-repeat="type in feedEdit.feedTypes" ng-value="type.value">
                            {{type.name}}
                        </md-option>
                    </md-select>
                    <md-select ng-if="data.isEnum && data.key === 'storageType'" ng-model="subSection.initialItem[data.key]">
                        <md-option ng-repeat="type in feedEdit.storageTypes" ng-value="type.value">
                            {{type.name}}
                        </md-option>
                    </md-select>
                    <!-- INPUT NUMBER -->
                    <input ng-disabled="data.isDisabled" ng-if="data.isNumber" ng-model="subSection.initialItem[data.key]" type="number"/>
                    <!-- INPUT DATE -->
                    <md-datepicker class="date-picker" ng-if="data.isDate" ng-model="subSection.initialItem[data.key]">
                    </md-datepicker>
                    <!-- INPUT OTHER -->
                    <input ng-disabled="data.isDisabled" ng-if="!data.isBoolean && !data.isNumber && !data.isEnum && !data.isDate" ng-model="subSection.initialItem[data.key]"/>
                </md-input-container>
            </div>
        </div>
    </div>
    <!-- ACTIONS -->
    <div class="feed-edit-actions" layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
        <md-button class="md-raised" ng-click="feedEdit.cancel()">
            Отмена
        </md-button>
        <md-button class="md-raised md-primary" ng-click="feedEdit.save()">
            Сохранить
        </md-button>
    </div>
</div>