.registration-screen {
    
    background-image: url(../../img/background.jpg);
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .main-registration-header {
        font-size: 24px;
        margin-top: 20px;
        color: #f0f0f0;
        background-color: transparent;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .farm-registration {
            opacity: .9;
            margin: 0 auto;
            max-width: 460px;
            .registration-input {

        	input {
        		padding: 10px 4px;
        		border: 1px solid #999;
        		border-radius: 2px;
                width: 100%;
                color: #333;
        	}

            .info {
                color: #dd2c00;
                margin: 4px 0 0 0;
                font-size: 12px;
            }
        }

        p {
            font-size: 14px;
            margin-bottom: 6px;
            padding: 0;
            color: #3f51b5;

            &.terms {
                margin: 20px 0 0 0;
                .terms-button {
                    font-size: 14px;
                    color: #3f51b5;
                    margin-top: 12px;
                    display: inline-block;
                }
            }
        }

        .md-button {
        	&.register-button {

            }
        }

        md-card-actions {
        	margin-bottom: 20px;
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    
}