.feed-view {
  padding: 0 20px;
  height: 100%;
  overflow: hidden; }
  .feed-view .feed-title {
    color: #3F51B5;
    font-size: 20px;
    margin: 10px 0 20px 0; }
    .feed-view .feed-title h2 {
      margin: auto; }
      .feed-view .feed-title h2 b {
        margin: 0 20px; }
    .feed-view .feed-title .actions {
      line-height: 58px;
      text-align: right; }
  .feed-view .feed-composition {
    padding-left: 2px;
    font-size: 20px; }
  .feed-view .weight-wrapper {
    line-height: 66px; }
  .feed-view .feed-view-header {
    border-bottom: 3px solid #FF9800;
    padding-bottom: 8px;
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #212121;
    text-align: center;
    margin-bottom: 6px; }
  .feed-view .feed-view-content {
    height: calc(100% - 126px);
    overflow: auto; }
  .feed-view .feed-properties {
    width: 100%;
    font-size: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
    /*&.analysis { 
			label {
				width: 150px;
			}
		}

		&.process,
		&.feeding {
			label {
				width: 100px;
			}
		}*/ }
    .feed-view .feed-properties .title {
      padding-bottom: 4px;
      font-weight: 600;
      line-height: 48px; }
      .feed-view .feed-properties .title h4 {
        display: inline-block;
        text-transform: uppercase;
        width: auto; }
    .feed-view .feed-properties .property {
      padding: 6px 0; }
      .feed-view .feed-properties .property:hover {
        background-color: #BBDEFB;
        border-radius: 3px;
        color: #fff; }
      .feed-view .feed-properties .property label {
        width: 80px;
        display: inline-block;
        text-align: right;
        color: rgba(0, 0, 0, 0.54); }
        .feed-view .feed-properties .property label a {
          color: rgba(0, 0, 0, 0.54); }
          .feed-view .feed-properties .property label a:hover {
            color: #3F51B5; }
      .feed-view .feed-properties .property .value {
        margin-left: 10px;
        font-weight: 500;
        color: #333;
        min-width: 60px; }
      .feed-view .feed-properties .property md-checkbox {
        margin: 0;
        padding: 0;
        display: inline-block;
        min-width: 0;
        width: 60px;
        margin-left: 10px; }
        .feed-view .feed-properties .property md-checkbox .md-label {
          margin-left: 24px;
          margin-top: 4px; }
    .feed-view .feed-properties.ration .title label {
      display: inline-block;
      text-align: left; }
    .feed-view .feed-properties.ration li a {
      text-align: left;
      font-size: 11px; }
