<md-card class="settings" flex md-theme="default" md-theme-watch="" layout="column">
	<h2 class="settings-title">Настройки</h2> 
	<form name="settings">
		
		<div>
			<md-input-container>
		        <label>Понлное имя пользователя</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>
		</div>

		<div>
			<md-input-container>
		        <label>E-mail</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>
		</div>

		<div>
			<md-input-container>
		        <label>Новый пароль</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>

		    <md-input-container>
		        <label>Новый пароль, еще раз</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>	
		</div>
		<div>
			<md-input-container>
		        <label>Старый пароль</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>
		</div>		

	    

	</md-content>

</md-card>