.public-screen {
    
    background-image: url(../../img/background.jpg);
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #ffffff;
    height: 100%;

    .header {
        padding: 6px 20px; 
        button {
            color: #fff;

            &.registration {
                text-decoration: none;
            }
        }   

        .prokorm {
            font-size: 28px;
            margin: auto;
        } 
    }

    .public-section {
        .section-content {
            width: 100%;
            height: 800px;
            background-image: url(../img/screen.png);
        }
    }

    .info-title {
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
    }
}