.feed {

	.weight-control {
		border: 2px solid #009688;
	    height: 30px;
	    border-radius: 3px;
	    font-size: 22px;
	    margin: auto;

		.balance {
			display: none;
		    color: #FF9800;
		    padding: 1px 4px;
		    font-weight: 600;
		}

		.total {
		    background-color: #009688;
		    color: #fff;
		    padding: 1px 4px;
		    font-weight: 600;
		}

		&.opened {

			.balance {
				display: inline;
			}

			border-color: #FF9800;
			.left {
				display: none;
				color: #FF9800;
			}

			.total {
			    background-color: #FF9800;
			}
		}
	}
	
	.feed-list {
		font-size: 11px;
	    height: calc(100% - 60px);
	    overflow: auto;
	    padding-top: 0;

		.feed-item {

			.md-button {
				padding: 0 10px;			
			}

			&.selected {
				background-color: #BBDEFB;
			}

			&.inDiff {
				background-color: #BBDEFB;	
			}

			cursor: pointer;
			background-color: #fff;
			min-height: 68px;
			border-bottom: 1px solid #eee;
			button {
				&.md-no-style {
					min-height: 68px;
				} 
			}
			.md-list-item-text {
				line-height: normal;
			}

			.year {
			    color: #3F51B5;
			    font-weight: bold;
			    margin-top: 2px;
			    font-size: 12px;
			}

			.title {
				color: #333;
			    font-size: 18px;
			}

			.source {
				font-size: 12px;
				margin-top: 2px;
			}

			.composition {
				font-size: 12px;
				color: #333;
			}

			.weight {
				&.weight-control {
					margin-top: 5px;
				    line-height: 15px;
				    height: 18px;
				    float: right;
				    font-size: 11px;
				}
			}

			&.done {
				background-color: #ddd;
				p, b {
					color: #999;
				}

				.weight {
					&.weight-control {
						border: none;
						color: #999;
						.left {
							display: none;
						}
						.balance {
							display: none;
						}
						.total {
							color: #999;
							background-color: transparent;
							padding: 0;
						}
					}
				}
			}
		}
	}	

	.navigator {
		height: calc(100% - 14px);
		margin-right: 0;
	}
	.dashboard { 
		height: calc(100% - 14px);

		ul, li {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		.dashboard-card {
			padding: 16px;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
		    margin-bottom: 10px;

		    h2 {
		    	border-bottom: 3px solid #FF9800;
			    padding-bottom: 4px;
			    margin-bottom: 20px;
		    }

		}

		.dashboard-balance {
		    .balance-list {

		    	padding-bottom: 4px;
			    margin-bottom: 10px;
			    border-bottom: 1px solid rgba(0, 0, 0, 0.30);

		    	.balance-percent {
					color: rgba(0,0,0,0.54);
					font-size: 14px;
				}

				.weight-control {
				    line-height: 16px;
				    height: 18px;
				    font-size: 11px;
				    vertical-align: middle;
				    float: right;
				}

				li {
					h2 {
						font-size: 20px;
					}

					.composition {
						
						padding-left: 20px;
						padding-top: 12px;

						.composition-item {
							font-size: 12px;
						    color: rgba(0, 0, 0, 0.54);
						    height: 22px;
						}	
					}
				}
		    }
		}

		.dashboard-no-analysis {
		}
	}
}