<div class="feed" layout="row">
    <md-card class="navigator" flex="20" md-theme="default" md-theme-watch="">
        <div class="list-header" layout="row">
            <div class="module-name" flex="">
                Корма
                <span class="feed-amount" ng-if="feed.feedItems.length">
                    ({{feed.feedItems.length}})
                </span>
            </div>
            <md-button class="md-fab md-mini md-primary" ng-click="feed.goToAdd()">
                <ng-md-icon class="add-icon" icon="plus_one" size="24">
                </ng-md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary" ng-click="feed.goToHome()" 
                ng-if="feed.isDiffMode || feed.isAverageMode || feed.isSumMode">
                <ng-md-icon class="back-icon" icon="arrow_back" size="24">
                </ng-md-icon>
            </md-button>
            <md-menu ng-if="!feed.isDiffMode && !feed.isAverageMode && !feed.isSumMode">
                <md-button aria-label="Menu" class="md-fab md-mini md-primary" ng-click="feed.openMenu($mdOpenMenu, $event)">
                    <ng-md-icon icon="menu">
                    </ng-md-icon>
                </md-button>
                <md-menu-content width="3">
                    
                    <md-menu-item>
                        <md-button ng-click="feed.goToDiff()">
                            Сравнить
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="feed.goToAverage()">
                            Средний
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="feed.goToSum()">
                            Сумма
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <md-list class="feed-list">
            <md-list-item class="md-3-line feed-item" ng-class="{
                  done: feedItem.done,
                  opened: feedItem.opened,
                  selected: (feedItem === feed.selectedItem || feed.diffFeeds.indexOf(feedItem._id) > -1 || feed.averageFeeds.indexOf(feedItem._id) > -1 || feed.sumFeeds.indexOf(feedItem._id) > -1), 
                  inDiff: feed.inDiff(feedItem)
                }" ng-click="feed.onFeedClick(feedItem)" ng-repeat="feedItem in feed.feedItems">
                <div class="md-list-item-text">
                    <div layout="row">
                        <p class="title" flex="">
                            {{feedItem.name}}
                        </p>
                        <span class="weight weight-control" ng-class="{opened: feedItem.opened, done: feedItem.done}">
                            <span class="balance">
                                {{feedItem.balanceWeight}}
                            </span>
                            <span class="total">
                                {{feedItem.totalWeight}}
                            </span>
                        </span>
                    </div>
                    <div layout="row">
                        <p class="composition" flex="">
                            {{feedItem.feedType ? 
              feedItem.feedType + ': ' + feedItem.composition : feedItem.composition}}
                        </p>
                        <b class="year">
                            {{feedItem.year}}
                        </b>
                    </div>
                    <div layout="row">
                        <p class="source" flex="">
                            {{feedItem.field}}
                        </p>
                        <p class="source">
                            {{feedItem.storage}}
                        </p>
                    </div>
                </div>
            </md-list-item>
            <md-divider>
            </md-divider>
        </md-list>
    </md-card>
    <md-card class="dashboard" flex="80" md-theme="default" md-theme-watch="" ui-view="">
        <md-content layout-padding="">
            <md-button class="md-primary" ng-click="feed.goToAdd()" md-no-ink="">
                Добавить корм
            </md-button>
            <md-button class="md-primary" ng-click="feed.goToDiff()" md-no-ink="">
                Сравнить корма
            </md-button>

            <md-button class="md-primary" ng-click="feed.goToAverage()" md-no-ink="">
                Средний корм
            </md-button>

            <md-button class="md-primary" ng-click="feed.goToSum()" md-no-ink="">
                Сумма кормов
            </md-button>

            <div layout="row">
                <md-card ng-if="feed.dashboard.balance.byFeedType.length" layout-padding="16" class="dashboard-card dashboard-balance" flex="50">
                    <h2>
                        Доступные корма ({{feed.dashboard.years}})
                    </h2>
                    <md-radio-group class="md-primary" layout="row" ng-model="feed.dashboard.balance.current">
                      <md-radio-button value="byFeedType" > По типу </md-radio-button>
                      <md-radio-button value="byComposition">По составу</md-radio-button>
                    </md-radio-group>

                    <ul ng-show="feed.dashboard.balance.current === 'byFeedType'" class="balance-list" ng-repeat="balance in feed.dashboard.balance.byFeedType">
                        <li>
                            <div>
                                <label>
                                    {{balance.label}}
                                </label>
                                <label class="balance-percent">
                                    ({{balance.balancePercent}} %)
                                </label>
                                <span class="weight-control" ng-class="{opened: balance.balance !== balance.total}">
                                    <span class="balance">
                                        {{balance.balance}}
                                    </span>
                                    <span class="total">
                                        {{balance.total}}
                                    </span>
                                </span>
                            </div>
                            <ul class="composition">
                                <li class="composition-item" ng-repeat="composition in balance.byComposition">
                                    {{composition.label}}
                                    <span class="weight-control" ng-class="{opened: composition.balance !== composition.total}">
                                        <span class="balance">
                                            {{composition.balance}}
                                        </span>
                                        <span class="total">
                                            {{composition.total}}
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul ng-show="feed.dashboard.balance.current === 'byComposition'" class="balance-list" ng-repeat="balance in feed.dashboard.balance.byComposition">
                        <li>
                            <div>
                                <label>
                                    {{balance.label}}
                                </label>
                                <label class="balance-percent">
                                    ({{balance.balancePercent}} %)
                                </label>
                                <span class="weight-control" ng-class="{opened: balance.balance !== balance.total}">
                                    <span class="balance">
                                        {{balance.balance}}
                                    </span>
                                    <span class="total">
                                        {{balance.total}}
                                    </span>
                                </span>
                            </div>
                            <ul class="composition">
                                <li class="composition-item" ng-repeat="composition in balance.byFeedType">
                                    {{composition.label}}
                                    <span class="weight-control" ng-class="{opened: composition.balance !== composition.total}">
                                        <span class="balance">
                                            {{composition.balance}}
                                        </span>
                                        <span class="total">
                                            {{composition.total}}
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </md-card>
                <md-card ng-if="feed.dashboard.noAnalysis.length" layout-padding="" class="dashboard-card dashboard-no-analysis" flex="50">
                    <h2>
                        Корма без анализов
                    </h2>

                    <a ng-repeat="noAnalysis in feed.dashboard.noAnalysis" ng-href="{{noAnalysis.url}}" >
                        {{noAnalysis.label}}
                    </a>
                </md-card>
            </div>
        </md-content>
    </md-card>
</div>
