<div class="profile-view" layout="row">
	<div class="user-info" flex="40">
		<h2>Текущий пользователь
			<md-button class="md-raised" ng-if="profileView.admin" ng-click="profileView.edit()">
		        Редактировать
	      	</md-button>
		</h2>
		<p ng-repeat="userInfo in profileView.userInfo" layout="row">
			<label flex="30">{{userInfo.label}}:</label>
			<span flex>{{userInfo.value}}</span>
		</p>	

		<p ng-if="profileView.admin" layout="row">
			<label flex="25"></label>
			<md-button class="md-primary" ng-click="profileView.changePassword($event)" md-no-ink="">
                Сменить пароль
            </md-button>
		</p>
	</div>
	<div ng-if="profileView.companyUsers !== undefined" flex="30" class="company-users">
		<h2>Пользователи
			<md-button class="md-raised" ng-click="profileView.addUser()">
		        Добавить
	      	</md-button>
		</h2>

		<p ng-repeat="cmpUser in profileView.companyUsers">
			<a href="#">{{cmpUser.userName}}</a>
		</p>
	</div>
	<div ng-if="profileView.companyLicense !== undefined" flex="30" class="company-license">
		<h2>Лицензия
			<md-button class="md-raised" ng-click="">
		        Изменить
	      	</md-button>
      	</h2>
		<div ng-repeat="license in profileView.companyLicense">
			<h4>{{license.title}}</h4>
			<p layout="row" ng-repeat="info in license.subInfo">
				<label flex="30">{{info.label}}:</label>
				<span flex>{{info.value | date:'dd/MM/yyyy'}}</span>
			</p>
		</div>
	</div>
</div>