.ration-view {
	padding: 0 20px;

	.ration-title {
		padding: 10px 20px;

		.ration-type {
			background-color: #2196F3;
		    color: #fff;
		    border-radius: 3px;
		    padding: 6px 8px;
		    height: 26px;
		    margin: auto 20px auto 0;
		    text-transform: uppercase;
		    font-size: 12px;
		}

		.ration-target {
			background-color: #009688;
		    color: #fff;
		    border-radius: 3px;
		    padding: 6px 8px;
		    height: 26px;
		    margin: auto 14px auto 0;
		    text-transform: uppercase;
		    font-size: 12px;
		} 

		h2 {
			margin: auto;
		}
	}
	.ration-view-content {

		ul.ration-info {
			padding: 0 20px;
		    margin: 0;
		    font-size: 12px;

		    li {
		    	padding: 4px 0;

		    	label {
		    		min-width: 80px;
				    text-align: right;
				    margin-right: 10px;
				    color: rgba(0,0,0,0.54);
		    	}
		    }
		}

		table {
		    width:100%;
		    border-collapse: collapse;
		    font-size: 12px;

		    th {
				color: rgba(0,0,0,0.54);
			}

		    tr {
			    align-items: stretch;
			    &.total {
			    	font-weight: 700;
			    }
			    td, th {
			    	min-width: 110px;
				    border-bottom: 1px rgba(0,0,0,.12) solid;
				    text-align: right;
				    padding: 12px 18px;
			    	&:first-child {
						width: 20px;
						min-width: 20px;
					}
					
					&.feed-name {
						width: 100%;
						text-align: left;
					}	
					&.property-name {
						width: 100%;
						text-align: left;
					}

					p {
						padding: 0;
					    margin: 4px 0 0 0;
					    font-size: 11px;
					    color: rgba(0,0,0,.54);
					}
			    }
			}

			tbody {
				tr {
					&:hover {
						background-color: #F0F0F0;
					}
				}
			}
			
		}

		.composition {
			padding: 16px;
		}
	}
}