<div class="sum-card" layout="column">
    <div class="sum-title" layout="row">
        <h2 flex="25">
            Сумма
        </h2>
        <div class="sum-header" flex="" ng-repeat="prop in ::sum.properties">
            {{prop.label}}, {{prop.dimension}}
        </div>
    </div>
    <div class="sum-dashboard" flex="" layout="row">
        <div class="mode-description" flex="" ng-if="!sum.sumsRows.length">
            <p>
                Данный модуль дает возможность суммировать ряд важных показателей, таких как сухое вещество, обменная энергия, сырой протеин, в выбранных Вами кормах.
            </p>
            <p>
                Все расчеты даны на сухое вещество.
            </p>
            <p>
                Корма без анализов и завершенные корма не могут участвовать в суммировании.
            </p> 
            <h2>
                <ng-md-icon class="arrow-icon" icon="arrow_back">
                </ng-md-icon>
                Выберите незавершенные корма с анализами из списка
            </h2>
        </div>
        <ul class="property-list" flex="" ng-if="sum.sumsRows.length">
            <li class="property-row" ng-repeat="row in ::sum.sumsRows">
                <div layout="row">
                    <label class="property-label" flex="25">
                        {{row.label}}
                    </label>
                    <span class="property-value" flex="" ng-repeat="sumByProp in ::row.sumsByProp track by $index">
                        {{sumByProp.value | number}}
                    </span>
                </div>
                <!-- By Composition -->
                <ul class="sub-property-list" flex="">
                    <li class="property-row" layout="row" ng-repeat="compositionRow in ::row.byComposition">
                        <label class="property-label" flex="25">
                            {{compositionRow.label}}
                        </label>
                        <span class="property-value" flex="" ng-repeat="sumByProp in ::compositionRow.sumsByProp track by $index">
                            <span class="percent">
                                ({{sumByProp.percentOfTotal}}%)
                            </span>
                            {{sumByProp.value | number}}
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>