.rating-card {
	padding: 0 20px;
    height: 100%;
    overflow: hidden;
    
    .rating-title {
    	color: #333;
	    font-size: 14px;
	    padding-bottom: 12px;
	    border-bottom: 3px solid #FF9800;

    	&.best-value {
			background-color: #FFCC80;
			border-top: 3px solid #FF9800;
			padding-bottom: 0px;
			font-size: 12px;
			h2 {
				font-size: 12px;
			}
    		.rating-header {
    			color: #555;
    			font-weight: 600;
    		}
    		&.index {
		    	padding-left: 10px;
				font-weight: 600;
		    }
    	}

    	h2 {
    		padding-top: 12px;
    		padding-right: 10px;
    	}
	}
	
	.rating-header {
		padding-top: 12px;
		text-align: right;
		/* padding-right: 30px; */
		color: #666;
		padding-right: 10px;
		padding-bottom: 10px;

		&.index {
			padding-left: 10px;
			font-weight: 600;
		}
		
		.property-name {
			font-size: 12px;
		}
	}

	.rating-dashboard {
		margin-top: 20px;

		.mode-description {
			font-size: 14px;
			.feed-type-select {
				margin-left: 20px;
			}
			.prop-list {
				margin: 10px 0 20px 0;
				li {
					padding: 2px 0;
				}
			}
			h2 {
				font-size: 16px;
				.arrow-icon {
					margin-bottom: 1px;
				}
			}
		}

		.empty-select-message {
			margin: auto;
		}

		/*height: calc(100% - 75px);*/
		overflow: auto;
		ul, li {
			list-style-type: none;
			margin: 0;
			padding:0;
			font-size: 12px;
		}

		.property-row {
			&> div {
				height: 100%;
			}
		}

		.property-label {
			font-size: 16px;
		    color: #333;
		    border-bottom: 1px solid #DDD;
		    line-height: 26px;
		}
			
		.property-value {
			color: #333;
		    padding: 20px 10px;
		    border-right: 1px solid #FFF;
		    border-bottom: 1px solid #FFF;
			font-size: 12px;
			text-align: right;

		    &.index {
		    	padding: 6px 10px;
				font-weight: 600;
				font-size: 18px;
				span {
					
				}
		    }

		    &.in-range {
		    	background-color: #80CBC4;
			    color: #555555;
			    font-weight: 600;
		    }

		    &.out-range {
		    	background-color: #EF9A9A;
			    color: #555555;
			    font-weight: 600;
		    }

		    &.feed-name {
		    	text-align: left;
		    	background-color: transparent;
			    color: #3F51B5;
				font-weight: normal;
				padding: 6px 10px;
		    }
		}
	}
}