<div class="rating-card" layout="column">
	<div class="rating-title" layout="row">
		<h2>Рейтинг</h2>
	</div>
	<div layout="row" class="rating-header">
		<span flex="5"></span>
		<span class="property-name" flex></span>
		<span class="property-name" flex ng-repeat="prop in ::rating.properties">{{::prop.label}}, {{::prop.dimension}}</span>
	</div>
	<div class="rating-title best-value" layout="row" ng-if="rating.feeds.length">
		<span class="index rating-header" flex="5">#</span>
		<h2 class="rating-header" flex="">
			Оптимально
		</h2>
		<div class="rating-header" flex="" ng-repeat="prop in ::rating.properties">
			{{::prop.bestValue}}
		</div>
	</div>
	<div class="rating-dashboard" flex="" layout="row">
		<div flex class="mode-description" ng-if="!rating.feeds.length">
			<p>
				В рейтинге может участвовать корм с типом <b>{{::rating.feedTypeLabel}}</b> у которого в последнем анализе были указаны следущие показатели:
			<p/>
			<ul class="prop-list">
				<li ng-repeat="prop in rating.props">{{prop}}</li>
			</ul>
			<h2>
				<ng-md-icon class="arrow-icon" icon="arrow_back"></ng-md-icon>
				Выберите корма с типом <b>{{::rating.feedTypeLabel}}</b> из списка
			</h2>
		</div>
		<ul class="property-list" flex="" ng-if="rating.feeds.length" layout="column">
			<li class="property-row" ng-repeat="row in ::rating.feeds" layout-align="center center">
				<div layout="row" layout-align="center center">
					<!--<label flex="25" class="property-label">{{row.label}}</label-->
					<div class="index property-value" flex="5">
						{{$index+1}}
					</div>
					<div class="property-value" flex="" 
						ng-class="{
							'in-range': feedValue.inRange, 
							'out-range': !feedValue.inRange, 
							'feed-name': feedValue.name
						}" 
						ng-repeat="feedValue in ::row track by $index">
						<b ng-if="feedValue.year">{{feedValue.year}}<br/></b>
						{{feedValue.name ? feedValue.name : feedValue.value}} 
						{{feedValue.branch}} {{feedValue.storage}}
					</div>
				</div>
			</li>
			<li flex/>
		</ul>
	</div>
</div>