<div class="rating-card" layout="column" ui-view="">
	<div class="rating-title" layout="row">
		<span class="index rating-header">
		</span>
		<h2 class="" flex="">
			Рейтинг
		</h2>
	</div>
	<div class="rating-dashboard" flex="" layout="row">
		<div flex class="mode-description" ng-if="!rating.feeds.length">
			<p>
				Рейтинг кормов составляется из нескольких показателей, и доступен для двух видов кормрв - Сенаж Травяной и Силос Кукурузный. 
			<p/>
			<p>
				Рейтинг корма зависит от того, сколько показателей попадут в "Оптимальную" зону.
			</p>
			<p>
                Корма без анализов не могут участвовать в рейтинге.
            </p> 
  			Выберите тип корма: 
  			<md-button class="md-primary" md-no-ink="" ng-click="rating.goToHaylage();">
                Сенаж травяной
            </md-button>
			<md-button class="md-primary" md-no-ink="" ng-click="rating.goToSilage();">
                Силос кукурузный
            </md-button>
			
		</div>
		
	</div>
</div>