<md-dialog class="change-passowrd">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Смена пароля</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
            	<div class="change-password">
				    <md-input-container class="md-block">
				        <label>
				            Текущий пароль
				        </label>
				        <input ng-model="changePassword.currentPassword">
				        </input>
				    </md-input-container>
				    <md-input-container class="md-block">
				        <label>
				            Новый пароль
				        </label>
				        <input ng-model="changePassword.newPassword">
				        </input>
				    </md-input-container>
				    <md-input-container class="md-block">
				        <label>
				            Новый пароль еще раз
				        </label>
				        <input ng-model="changePassword.newPassword2">
				        </input>
				    </md-input-container>
				</div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
	      <md-button class="md-raised" ng-click="cancel()">
	        Отмена
	      </md-button>
	      <md-button class="md-raised md-primary" ng-click="save()">
	       Сохранить
	      </md-button>
	    </md-dialog-actions>
    </form>
</md-dialog>
