<md-card class="profile" flex md-theme="default" md-theme-watch="" layout="column">
	<h2 class="profile-title">Профиль</h2> 
	<form name="settings" flex>
		<div class="edit-block">
			<md-input-container class="md-block">
		        <label>Имя компании</label>
		        <input disabled="disabled" ng-model="profile.userInfo.tenantName">
		    </md-input-container>
		    <md-input-container class="md-block">
		        <label>Полное имя компании</label>
		        <input ng-model="profile.userInfo.tenantFullName">
		    </md-input-container>

			<md-input-container class="md-block">
		        <label>Имя пользователя</label>
		        <input ng-model="profile.userInfo.name">
		    </md-input-container>
			<md-input-container class="md-block">
		        <label>Полное имя пользователя</label>
		        <input ng-model="profile.userInfo.fullName">
		    </md-input-container>
		    <md-input-container class="md-block">
		        <label>E-mail</label>
		        <input ng-model="profile.userInfo.email">
		    </md-input-container>
		</div>

		<!--<div class="edit-block" layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
		        <label>Новый пароль</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Новый пароль, еще раз</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>	
		    <md-input-container class="md-block" flex-gt-sm>
		        <label>Старый пароль</label>
		        <input ng-model="settinhs.oldPassword">
		    </md-input-container>
		</div>-->
	</form>
	<!-- ACTIONS -->
    <div class="feed-edit-actions" layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
        <md-button class="md-raised" ng-click="feedEdit.cancel()">
            Отмена
        </md-button>
        <md-button class="md-raised md-primary" ng-click="feedEdit.save()">
            Сохранить
        </md-button>
    </div>
</md-card>