<div class="profile-view" layout="row">
	<div class="user-info" flex="50">
		<h2>Текущий пользователь
			<md-button class="md-raised" ng-click="profileView.edit()">
		        Редактировать
	      	</md-button>
		</h2>
		<p ng-repeat="userInfo in profileView.userInfo" layout="row">
			<label flex="30">{{userInfo.label}}:</label>
			<span flex>{{userInfo.value}}</span>
		</p>	
	</div>
	<div ng-if="profileView.companyUsers !== undefined" flex="50" class="company-users">
		<h2>Пользователи в компании
			<md-button class="md-raised" ng-click="profileView.addUser()">
		        Добавить
	      	</md-button>
		</h2>

		<p ng-repeat="cmpUser in profileView.companyUsers">
			<a href="#">{{cmpUser.userName}}</a>
		</p>
	</div>
</div>