.info {
	height: calc(100% - 14px);
    padding: 0 20px;
    overflow: hidden;

    md-content {
    	background-color: transparent;
    }

    .info-title {
    	color: #3F51B5;
	    border-bottom: 3px solid #FF9800;
	    padding: 20px 0 12px 0;
	    margin-bottom: 20px;
    }

    .info-content {
        p {
            label {
                display: inline-block;
                text-align: right;
                color: rgba(0,0,0,.54);
                font-size: 14px;
            }

            span {
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }
}
